<ul id="todo-list">
  {{#each todo in controller}}
    <li {{action editTodo todo on="doubleClick"}} {{bindAttr class=":view todo.completed:completed todo.editing:editing"}}>
      {{#unless todo.editing}}
    <label class="checkbox">
        <input type="checkbox" 
               class="toggle" 
               {{bindAttr checked="todo.completed"}}
               {{action toggleTodo todo}}
         >
        {{todo.title}}
        </label>
        <button {{action removeTodo todo}} class="destroy btn btn-mini btn-danger" >Delete</button>
      {{else}}
        {{view App.EditTodoTextField todoBinding="todo"}}
      {{/unless}}
    </li>
  {{/each}}
  {{#unless controller.length}}
    <em class="label-warning">{{whenNone}}</em>
  {{/unless}}
</ul>
